.label {
    -fx-font-size : 19px;
}
#heading {
    -fx-font-size : 23px;
    -fx-font-weight : bold;
}
#start,#end,#spinner{
    -fx-effect:dropshadow(one-pass-box,black,10,0.0,2,0);
}
.button {
    -fx-background-radius : 30px;
    -fx-background-color : #002535;
    -fx-text-fill : #fff;
    -fx-font-size : 15px;
    -fx-cursor : HAND;
}